*{box-sizing: border-box;}
body{scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
.inner-vcenter{
    width: 80%; max-height: 100%;
    position: relative; top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.front-vcenter{
    position: absolute; top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.page-block{
    display: block; height: 100vh;
}
.subject-header{
    margin-bottom: 40px;
}
.subject-footer{
    padding-top: 40px;
    text-align: center;
}
/* .page-block-inner{height: 100%;} */

#welcome-inner h1{
    font-size: 96px;
    font-weight: bold;
}

#projects-row{
    height: 40vh;
}
/* #projects-inner > .row > .col{height: 100%;} */
#resume-inner{display: block; height: 100%;}
#scrolling{display: block; max-height: 75%; background: #eee; overflow-x: auto;}

.res-tab{
    display: block; padding-left: 30px;
}
.res-sec{
    display: block; margin-bottom: 20px;
}
.res-link{text-decoration: none; color: black; transition: all 0.3s ease-in-out;}
.res-link:hover{color: pink; text-decoration: none;}

.snap-link{
    position: relative;
    top: -20px;
}

#tester{
    display: block; 
    position: fixed;
    top: 80px; left: 5px;
    width: 200px; height: 100px;
    background: blue;
    color: white
}