*{box-sizing: border-box;}
.inner-vcenter{
    width: 80%; 
    position: absolute; top: 40%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#welcome{
    display: box; height: 90vh;
}
#welcome-inner h1{
    font-size: 96px;
}


